.sign_input {
  width: 60%;
  height: 3.125rem;
  margin: 0.625rem;
  background: #f2f2f2;
  border: 0.0625rem solid #3da2ff;
  border-radius: 0.4375rem;
  border: none;
  padding-left: 1.25rem;
  font-family: "GmarketSansMedium";
  font-size: large;
  text-align: left;
}

.sign_title {
  font-weight: 1000;
  font-size: 1.5625rem;
  font-family: "GmarketSansMedium";
  letter-spacing: 0.2rem;
}

.sign_button {
  width: 18.875rem;
  height: 2.5rem;
  margin: 0.625rem;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  background: #3da2ff;
  border-radius: 24px;
  border: none;
  color: white;
  font-style: normal;
  font-weight: 1000;
  font-size: 1.0625rem;
  letter-spacing: 0.2rem;
  font-family: "GmarketSansMedium";
  cursor: pointer;
}

.ant-input {
  background: #f2f2f2;
  border: none;
  text-align: left;
}

.sign_link {
  width: 5.9375rem;
  height: 14px;
  font-style: normal;
  font-weight: 1000;
  font-size: 1.125rem;
  line-height: 0.9375rem;
  color: #3da2ff;
  text-align: center;
  letter-spacing: 0.2rem;
  font-family: "GmarketSansMedium";
  cursor: pointer;
  text-decoration: underline;
}

.sign_link_p {
  cursor: pointer;
}

.sign_error {
  text-align: left;
  padding-left: 4.375rem;
  color: red;
  font-size: 0.8125rem;
  font-family: "GmarketSansMedium";
}

.singIn_div {
  width: 50%;
  text-align: center;
  display: inline-block;
  padding-top: 100px;
  font-family: "GmarketSansMedium";
  margin-top: 5rem;
}
