.sign-in {
  border: none;
  background-color: transparent;
}

.chatroom_div {
  margin-top: 170px;
  width: 100%;
}

.chatroom_article {
  margin: 0 auto;
  padding-bottom: 10px;
  /* padding-left: 20px;
  padding-right: 20px; */
}

.chatroom_list {
  display: flex;
  justify-content: space-between;
  font-size: larger;
  cursor: pointer;
  flex-wrap: wrap;
  text-align: center;
}

/* chat component */
.messages-wrapper {
  padding: 30px;
  margin-bottom: 60px;
}

.privatechat-wrapper {
  padding: 30px;
  padding-bottom: 80px;
  /* margin-bottom: 100px; */
}

.message_maindiv {
  padding-top: 10px;
}

.chat-bubble {
  border-radius: 20px 20px 20px 0;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #0062be;
  width: max-content;
  max-width: calc(100% - 50px);
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  color: white;
}

.chat-bubble.right {
  margin-left: auto;
  border-radius: 20px 20px 0 20px;
  background-color: #3DA2FF;
  color: white;
}

.chat-bubble_img {
  margin-top: 10px;
  padding-top: 10px;
}

.chat-bubble__left {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-bubble__left_img {
  padding: 0%;
}

.message_div {
  padding-top: 20px;
  padding-left: 20px;
  vertical-align: middle;
  padding-top: 35px;
}

.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: white;
}

.user-message {
  word-break: break-all;
}

.message-time {
  display: block;
  text-align: right;
}

/* send message */
.send-message {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px 30px;
  background-color: #0062be;
  display: flex;
}

.send-message>input {
  height: 40px;
  padding: 10px 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  flex-grow: 1;
  background-color: white;
  color: #1c2c4c;
  font-size: 1rem;
}

.send-message>input:placeholder {
  color: #ddd;
}

.send-message> :is(input, button):focus {
  outline: none;
  border-bottom: 1px solid #7cc5d9;
}

.send-message>button {
  width: 70px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  color: white;
  border: 1px solid #3DA2FF;
  background-color: #3DA2FF;
  font-weight: 600;
}

.privatechat_div {
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
}

.privatechat_user {
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}