.chatroomlist_div {
  text-align: center;
  margin: auto;
  margin-top: 220px;
  color: #3DA2FF;
  width: 60%;
}

.chatroomlist_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.chatroomlist_link {
  width: 50%;
  font-size: larger;
  display: inline-block;
  cursor: pointer;
  line-height: 80px;
}

.userlist_div {
  margin-top: 220px;
  width: 100%;
}

.userlist_article {
  width: 30%;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.userlist_list {
  display: flex;
  justify-content: space-between;
  font-size: larger;
  cursor: pointer;
  flex-wrap: wrap;
  text-align: center;
}