.chatroomlist_div {
  text-align: center;
  margin: auto;
  margin-top: 220px;
  color: #3da2ff;
  width: 60%;
}

.chatroomlist_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.chatroomlist_link {
  width: 50%;
  font-size: larger;
  display: inline-block;
  cursor: pointer;
  line-height: 80px;
  color: black;
  transition: 0.3s;
}

.chatroomlist_link:hover {
  transition: 0.3s;
  color: #3da2ff;
}

.chatroomlist_delete {
  margin-left: 20px;
  color: red;
  transition: 0.3s;
  border-radius: 10px;
  vertical-align: text-bottom;
}

.chatroomlist_delete:hover {
  color: white;
  background-color: #d33;
  transition: 0.3s;
}

.userlist_div {
  margin-top: 220px;
  width: 100%;
}

.userlist_article {
  width: 33%;
  margin: 0 auto;
  padding-bottom: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
}

.userlist_article:hover {
  transition: 0.3s;
  color: #3da2ff;
}

.userlist_list {
  display: flex;
  justify-content: space-between;
  font-size: larger;
  flex-wrap: wrap;
  text-align: center;
}

.userlist_delete {
  cursor: pointer;
  transition: 0.3s;
}

.userlist_delete:hover {
  color: red;
  font-weight: bolder;
  transition: 0.3s;
}

.mainhome_div {
  margin-top: 220px;
  width: 100%;
}

.mainhome_chaticon {
  font-size: 250px;
  color: #3da2ff;
}

.mainhome_font {
  font-size: 20px;
  font-family: "GmarketSansMedium";
}

.mainhome_span {
  color: #3da2ff;
  font-weight: bold;
  text-decoration: underline;
}
